<div class="row" style="padding-top: 20px">
    <div id="success" class="col-md-5 col-xs-8 bg-success" style="display: none">
      <h4>Mail has been sent</h4>
    </div>
    <div id="error" class="col-md-5 col-md-offset-2 col-xs-8 bg-danger pull-right" style="display: none">
      <h4>Error with sending the message</h4>
    </div>
    <div id="unauthorized" class="col-md-5 col-md-offset-2 col-xs-8 bg-danger pull-right" style="display: none">
      <h4>Wrong token</h4>
    </div>
</div>