<div class="container">
  <div class="row" style="padding-top: 30px">
    <div id="hint" class="bg-info" style="padding: 3px; display: none"><h4 style="text-indent: 30px">Select the coordinates on the map below by clicking left button</h4></div>
    <%= simple_form_for @form, url: { action: :create, controller: 'user_forms'}, remote: true, html: { id: 'simpleform' } do |form| %>

    <div class="col-md-12 col-xs-12 ">
      <div id="map-canvas" style="width: 100%; height: 400px; webkit-transform: none !important; position: static !important; transform: none !important"></div>
    </div>

    <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1" style="padding-top: 30px">
      <%= render 'inputs', form: form %>
    </div>

    <% end %>
  </div>

  <%= render 'messages' %>

</div>

<script>
    $(document).ready(function() {
        var map;
        var markers = [];
        function initialize() {
            var mapOptions = {
                zoom: 10,
                center: new google.maps.LatLng(50.061651, 19.937354)
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            $('#forms_latitude, #forms_longitude').keyup(function() {
                var p1 = $('#user_form_latitude').val();
                var p2 = $('#user_form_longitude').val();
                var origin = new google.maps.LatLng(p1, p2);
                var treasure = new google.maps.LatLng(50.051227, 19.945704);
                $('#user_form_dist').val(google.maps.geometry.spherical.computeDistanceBetween(origin, treasure));
            });

            google.maps.event.addListener(map, 'click', function (event) {
                deleteMarkers();
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();
                var treasure = new google.maps.LatLng(50.051227, 19.945704);
                var marker = addMarker(event.latLng);

                $('#user_form_longitude').val(lng);
                $('#user_form_latitude').val(lat);
                $('#user_form_dist').val(google.maps.geometry.spherical.computeDistanceBetween(event.latLng, treasure));
            });

            function addMarker(location) {
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
                markers.push(marker);
            }
            function setAllMap(map) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }
            function clearMarkers() {
                setAllMap(null);
            }
            function showMarkers() {
                setAllMap(map);
            }
            function deleteMarkers() {
                clearMarkers();
                markers = [];
            }
        }
        initialize();

        $('#map-canvas')
                .mouseenter(function(){
                    $('#hint').fadeIn()
                })
                .mouseleave(function(){
                    $('#hint').fadeOut()
                });

        $('#simpleform').on('ajax:success',function(event, data, status, xhr){
            if (data.status === 'ok') {
                $('#success').show().delay(5000).fadeOut('slow');
            }
            else {
                $('#error').show().delay(5000).fadeOut('slow');
            }
        });
    });
</script>